/* Base */
html {
    scroll-behavior: smooth;
}
.page-width {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  display: grid;
  margin: 0;
}
/* End Base */

#H00 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  background-color: #1a1a1a;
  padding: 20px 0;
  border-radius: 0 0 8px 8px;
  width: 100%;
  position: fixed;
  top:0;
  left:50%;  
  transform: translateX(-50%);
  font-family: 'IBM Plex Mono', monospace;

}
header a {
  text-decoration: none;      
  color: #ccc;                
  font-size: 14px;
  transition: color 0.3s ease;
}
.header-iconbtn {
  display:none;
}
@media (max-width:1023px) {
  .header-iconbtn{
    display:block;
    margin-left: 20px;
  }
  .H01{
    display:none;
  }
  #H00{
       justify-content: start;
  }
}
.nav_mobile{
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  height:100vh;
  background-color: #ffffff;
  width: 300px;
  justify-content: start;
  transform: translateX(-100%);
  z-index: 9999;
  
}
#nav_input:checked~.nav_mobile {
  transform: translateX(0%);
}
.mobile-close{
  display: flex;
  justify-content: flex-end;
  padding: 16px
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Màu mờ */
  z-index: 9998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Khi nav_input được check → hiển thị overlay */
#nav_input:checked ~ .overlay {
  opacity: 1;
  pointer-events: all;
}


#H02-list{
  margin-top: 50px;
  margin-left: 30px;
}
#H02-list a {
  color:black;  
  font-size: 20px;
}
.H02-links{
  text-decoration: none;
  display:block;
  padding:20px 0;
  color:#1a1a1a;
}

#A01 {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

@media (max-width: 768px) {
  #A01 {
        justify-content: center;
  }
}

#A01 img {
    width:100%;
    height:100%;
    max-width: 350px;
    max-height: 350px;
    gap: 20px;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin-top: 50px;


  
}
p {
    color: #7b7a7a;
    margin: 10px 0 0 0;
    font-size:14px;
    max-width: 570px;
    font-family: 'IBM Plex Mono', monospace;
    
}
h1 {
  font-size: 50px;
  color: #ffffff;
  white-space: nowrap;
  margin: 0;
}
#text {
    text-align: left;
    max-width: 600px;
    
}
#A02 {
  display:flex;
  flex-direction: column;
  padding :40px;
}

.A02_title {
  color: white;
}

.image-border {
  padding: 20px 32px;
  display: flex;
    flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #1B1B1B;
  object-fit: contain;
}

#container-home {
  background: black;
}

@media (max-width: 768px) {
  #container-home {
    padding-top: 60px;
  }
}

#container-casestudies {
  background-color: #ffffff;
   max-width: 100%;
   margin: 0 auto;
   max-height:  100%;
   padding:50px;

}
button {
  width: 304px;
  height: 63px;
  border: 1px solid #62BA1B;
  border-radius: 4px;
  padding: 21px 64px;
  gap:10px;
  font-size: 16px;
  color: #FFFFFF;
  background: #3F8E00;
  margin-top: 30px ;
}
.LG01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:20px;
  margin-bottom:45px;
  gap:50px;
}
@media (max-width:768px) {
  .LG01 {
    justify-content: unset;
  }
  
}
h2 {
  font-size:34px;
  margin-top:30px;
}
h3 {
  font-size:24px;
}

.img-ct img {
    width: 500px;
    height: 300px;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    
}

#B01 {
  align-items: center;
  text-align: center;
  margin-top: 60px;
}
#B01-h2 {
  color: black;
  align-items: center;
  margin-top: 80px;
  font-size:34px;
  align-items: center;
  margin: 0 auto;
  text-align: center;

  
}
#B01-h2 p {
  text-align: center;
  margin: 0 auto;
}
#B02 {
  display:flex;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: center;
  gap :26px;
  justify-content: center;
}
  

#B03 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 31px;
  align-items: center;

}
@media (max-width:768px) {
  #B03{  flex-direction: column-reverse;

  }
  
}
#B04 {
  display:flex;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: center;
  gap :26px;
  justify-content: center;
}
#content {
    text-align: left;
    max-width: 600px;
    padding: center;
    align-items: center;
    gap: 30px;
  }
.buttonCS {
  width: 190px;
  height: 38px;
  font-size:14px;
  padding: 10px 24px;

}
#B02 button {
  background: #FFA217;
}
#B03 button {
  background: #000AFF;
}
#B04 button {
  background: #2AB090;
}
.B02_title {
  font-size:12px;
  background-color: #FFF6E9;
  width: 72px;
  height: 24px;
  border-radius: 60px;     
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  color: #FFA217;

}
.B03_title {
  font-size:12px;
  background-color: #D0E6FF;
  width: 72px;
  height: 24px;
  border-radius: 60px;     
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  color: #000AFF;
}
.B04_title {
  font-size:12px;
  background-color:#E0FFF8;
  width: 72px;
  height: 24px;
  border-radius: 60px;     
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  color: #2AB090;
}
#container-testimonials {
   background-color: #080808;
   align-items:center;
   padding-top: 40px;
   max-width: 100%;
   display:flex;
   flex-direction: column;

}
#container-testimonials h2{
  color: #ffffff;
  
}
#testimonials-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Ép 2 cột cố định */
  gap: 30px;
  padding: 50px;
  margin: 0 auto ;
  box-sizing: border-box;
  


}
@media (max-width:768px) {
  #testimonials-grid {
    display: flex;
    flex-direction: column;
  }
  
}
#testimonials-card {
    border-radius: 4px;
    border: 1px solid #484848;
    max-width: 100%;
    width: 445px;
    box-sizing: border-box;
    

}
#testimonials-card p {
 margin-top: 30px;
  margin-left:30px;
  width: 409px;
  height: 72px;
}


.img-text {
  display:flex;
  align-items: center;
  margin-top: 20px;
  font-size:14px;
}
.img-text img {
   width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 22px;
  margin-block: 10px;
}
.name {
  color: #ffffff;
  font-size:18px;
  width: 107px;
  height: 21px;
  margin-left: 20px ;

}
#container-recentwork {
  padding: 50px;
  display: flex;
  flex-direction: column;
}
#content-rw {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:60px;
  padding-left: 95px;
  gap:30px;
}
@media (max-width:768px) {
  #content-rw {flex-wrap:wrap;}
  
}
.img-rw {
  width:445px;
  height: 300px;
  border-radius: 10px;
}
.button-rw {
  border-radius: 4px;
  border: 2px solid #62BA1B;
  background-color: #3F8E00;
  width: 140px;
  height:38px;
  padding: 10px 24px;
  font-size: 14px;
  
}
#container-getintouch {
  background-color: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 800px;

}
#container-getintouch h2{
  color: #ffffff;
}
label {
  color: #ffffff;
  
}
#email{
  width: 350px;
  height: 40px;
  border-radius: 4px;
  font-family: 'IBM Plex Mono', monospace;
}
#mobile {
  width: 350px;
  height: 40px;
  border-radius: 4px;
  font-family: 'IBM Plex Mono', monospace;
}
#message {
  width:350px;
  height: 120px;
  border-radius: 4px;
  font-family: 'IBM Plex Mono', monospace;
}
#labelgit {
  padding: 0 40px;
  gap :12px;
  margin-top: 40px;
  font-family: 'IBM Plex Mono', monospace;

  
}
.buttongit {
  width: 359px;
  height: 50px;
  padding: 16px 24px;
  font-family: 'IBM Plex Mono', monospace;
} 
footer {
  width: 100%;
  height : 70px;
  background-color: #1B1B1B;
  text-align: center;
  display: flex;
  justify-content: center;
  
}
footer p {
  margin-top: 26px ;
}


