/* Base */
html {
    scroll-behavior: smooth;
}
.page-width {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  display: grid;
  margin: 0;
}
/* End Base */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  background-color: #1a1a1a;
  padding: 20px 0;
  border-radius: 0 0 8px 8px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'IBM Plex Mono', monospace;
}

header a {
  text-decoration: none;      
  color: #ccc;                
  font-size: 14px;
  transition: color 0.3s ease;
}
#A01 {
    display: flex;
    padding: 40px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;

    
}
#A01 img {
    width:500px;
    height:500px;
    gap: 20px;
    border-radius: 50%;
    object-fit: cover;
  
}
p {
    color: #7b7a7a;
    margin: 10px 0 0 0;
    font-size:14px;
    max-width: 570px;
    font-family: 'IBM Plex Mono', monospace;
    
}
h1 {
  font-size: 50px;
  color: #ffffff;
  white-space: nowrap;
  margin: 0;
}
#text {
    text-align: left;
    max-width: 600px;
    
}
#A02 {
  display:flex;
  flex-direction: column;
}

.A02_title {
  color: white;
}

.image-border {
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #1B1B1B;
  object-fit: contain;
}

#container-home {
  background: black;
}

#container-casestudies {
  background-color: #ffffff;
   max-width: 1280px;
   margin: 0 auto;
   max-height:  1300px;
}
button {
  width: 304px;
  height: 63px;
  border: 1px solid #62BA1B;
  border-radius: 4px;
  padding: 21px 64px;
  gap:10px;
  font-size: 16px;
  color: #FFFFFF;
  background: #3F8E00;
  margin-top: 30px ;
}
.LG01 {
  display: flex;
  justify-content: space-between;
  margin-top:20px;
  margin-bottom:45px;
}
h2 {
  font-size:34px;
  margin-top:30px;
}
h3 {
  font-size:24px;
}

.img-ct img {
    width: 500px;
    height: 300px;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    
}

#B01 {
  align-items: center;
  text-align: center;
  margin-top: 60px;
}
#B01-h2 {
  color: black;
  align-items: center;
  margin-top: 80px;
  font-size:34px;
  align-items: center;
  margin: 0 auto;
  text-align: center;

  
}
#B01-h2 p {
  text-align: center;
  margin: 0 auto;
}
#B02 {
  display:flex;
  margin-top: 40px;
  align-items: center;
  gap :26px;
  justify-content: center;
}
#B03 {
  display: flex;
  margin-top: 60px;
  gap: 31px;
  align-items: center;

}
#B04 {
  display:flex;  
  margin-top: 60px;
  align-items: center;
  gap:14px;
}
#content {
    text-align: left;
    max-width: 600px;
    padding: center;
    align-items: center;
    gap: 30px;
  }
.buttonCS {
  width: 190px;
  height: 38px;
  font-size:14px;
  padding: 10px 24px;

}
#B02 button {
  background: #FFA217;
}
#B03 button {
  background: #000AFF;
}
#B04 button {
  background: #2AB090;
}
.B02_title {
  font-size:12px;
  background-color: #FFF6E9;
  width: 72px;
  height: 24px;
  border-radius: 60px;     
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  color: #FFA217;

}
.B03_title {
  font-size:12px;
  background-color: #D0E6FF;
  width: 72px;
  height: 24px;
  border-radius: 60px;     
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  color: #000AFF;
}
.B04_title {
  font-size:12px;
  background-color:#E0FFF8;
  width: 72px;
  height: 24px;
  border-radius: 60px;     
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  color: #2AB090;
}
#container-testimonials {
   background-color: #080808;
   align-items:center;
   height: 804px;
   padding-top: 40px;

}
#container-testimonials h2{
  color: #ffffff;
  
}
#testimonials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 30px;
  align-items:center;
  justify-content: center;
  padding-left: 180px;
  max-width: 1200px;
  margin-top: 60px;

}
#testimonials-card {
    border-radius: 4px;
    border: 1px solid #484848;
    width: 445px;
    height: 212px;
    

}
#testimonials-card p {
 margin-top: 30px;
  margin-left:30px;
  width: 409px;
  height: 72px;
}


.img-text {
  display:flex;
  align-items: center;
  margin-top: 20px;
  font-size:14px;
}
.img-text img {
   width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 22px;
}
.name {
  color: #ffffff;
  font-size:18px;
  width: 107px;
  height: 21px;
  margin-left: 20px ;

}
#container-recentwork {
  height:804px;
  padding: 50px;
}
#content-rw {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:60px;
  padding-left: 95px;
  gap:30px;
}
.img-rw {
  width:445px;
  height: 300px;
  border-radius: 10px;
}
.button-rw {
  border-radius: 4px;
  border: 2px solid #62BA1B;
  background-color: #3F8E00;
  width: 140px;
  height:38px;
  padding: 10px 24px;
  font-size: 14px;
  
}
#container-getintouch {
  background-color: #080808;
  width: auto;
  height: 672px;

}
#container-getintouch h2{
  color: #ffffff;
}
